<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Email/SMS Spam Classifier</title>
    <style>
        .center{
            text-align: center;
        }
        .border{
            border-right: solid black;
        }
        .column{
            padding: 10px;
            display: inline;
            text-align: center;
            float: left;
            height: auto;
        }
        p{
            text-align: justify;
        }
    </style>
</head>
<body>
    <div>
        
        <div class="column border" style="width: 35%; padding-right: 50px;  background-color: blanchedalmond; text-align: left;">
            <h3 style="text-align: center;">SAMPLE EMAILS/SMS</h3>
            <h4 style="color: red;">SPAM</h4>
            <p>
                <strong>Sample 1</strong> <br>
                Congratulations ur awarded 500 of CD vouchers or 125gift guaranteed & Free entry 2 100 wkly draw txt MUSIC to 87066 TnCs www.Ldew.com1win150ppmx3age16 <br> <br>
                <strong>Sample 2</strong> <br>
                Free entry in 2 a weekly comp for a chance to win an ipod. Txt POD to 80182 to get entry (std txt rate) T&C's apply 08452810073 for details 18+
                
            </p>        
            
            <h4 style="color: green;">NOT SPAM</h4>
            <p>
                <strong>Sample 1</strong> <br>
                Hello. They are going to the village pub at 8 so either come here or there accordingly. Ok?<br><br>
                <strong>Sample 2</strong> <br>
                No other Valentines huh? The proof is on your fb page. Ugh I'm so glad I really DIDN'T watch your rupaul show you TOOL!
            </p>
        </div>
        <div class="column" style="width: 55%;">
            <h1 class="center">Email/SMS Spam Classifier</h1>
            {% if response %}
                {% if response == -1 %}
                    <h2 style="color:green">Not Spam</h2>
                {% else %}
                    <h2 style="color:red">Spam</h2>
                {% endif %}
            {% endif %}
            <form action="/predict" method="post">
                <label>Type your email </label><br><br>
                <textarea rows="15" cols="70" name="email" placeholder="Type or paste your email here"></textarea><br><br>
                <input type="submit" value="Check" style= "width: 80px; height: 50px;">
            </form>
        </div>
    </div>
</body>
</html>
